.tittle {
    color: rgb(201, 198, 198);
}

.product-main {
    margin-top: 0rem;
    display: inline-flex;
    background-color: #eeeeeef6;
}

.product-single {
    display: inline-flex;
    align-items: center;
    align-content: center;
    margin: 3rem 3rem 3rem 3rem;
    max-width: 30%;
    max-height: 30%;
}